body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

#accounts-list {
  li {
    list-style-type: none;
    padding: 6px;
    font-weight: bold;
    background-color: rgba(0, 208, 255, 0.11);
    width: 400px;

    &:hover {
      background-color: cyan;
    }
    &.selected {
      background-color: lightblue;
    }
  }
}

#current-account-data {
  background-color: rgba(0, 208, 255, 0.11);
  min-height: 50px;
  padding: 3px;
  padding-left: 20px;
  margin-bottom: 20px;
}
